# binário
webserv
# test binaries
test_mime
test_lexer
test_parser
test_cgi
# build artifacts
obj/
*.o
*.d
*.dSYM/
# editor
.vscode/
.idea/
*.swp
# OS
.DS_Store
Thumbs.db
# uploads em runtime
uploads/*
!uploads/.gitkeep